<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  
  <title>Hackers@Berkeley</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="Content-Language" content="en-us"> 

  <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>  
  <script src="/ace/ace.js"></script>
  <script src="/ace/mode-css.js"></script>
  <script src="/ace/mode-html.js"></script>
  
</head> 

<body>
  <div id="wrapper">


    <%-body%>
    
  </div>
</body>
</html>